/**
 * light theme 컬러 설정 파일
 *
 * ex)
 * primary: #0e1e40;
 * ↓
 * --color-primary: #0e1e40;
 * --color-primary-rgb: 14, 30, 64;
 * --color-primary-r: 14;
 * --color-primary-g: 30;
 * --color-primary-b: 64;
 */
$colors-light: (
  // admin 도입에 따라 색상 팔레트 적용
  --color-accent-100: #4568e017,
  --color-accent-200: #4568e029,
  --color-accent-250: #4568e033,
  --color-accent-300: #4568e04d,
  --color-accent-350: #4568e066,
  --color-accent-400: #4568e0,
  --color-accent-500: #3e5dc9,

  // Background
  --color-bg-0: #ffffff,
  --color-bg-100: #f8f8fd,
  --color-bg-200: #f9fafc,
  --color-bg-250: #f5f7fc,
  --color-bg-300: #f4f4f7,
  --color-bg-400: #e9edf4,
  --color-bg-500: #eaebf3,
  --color-bg-525: #dee0ef,
  --color-bg-550: #cacde3,
  --color-bg-600: #e9f1fd,
  --color-bg-700: #d6def8,
  --color-bg-800: #646c82,
  --color-bg-900: #5d606b,
  --color-bg-1000: #1b2337,
  --color-bg-1050: #191727,
  --color-bg-1100: #151514,

  --color-border-100: #e1e3f0,
  --color-border-200: #e2e1ee,
  --color-border-300: #ddddec,
  --color-border-400: #dddde2,
  --color-border-500: #c1c1d8,
  --color-border-600: #b3b3c5,
  --color-border-700: #bac6d4,
  --color-border-750: #cad4e5,
  --color-border-800: #bbc6d9,

  --color-text-100: #ebeef8,
  --color-text-200: #96a5be,
  --color-text-300: #b6b7c1,
  --color-text-350: #939aac,
  --color-text-400: #6a7184,
  --color-text-500: #565f6e,
  --color-text-600: #434c60,
  --color-text-700: #28364e,
  --color-text-800: #737373,
  --color-text-900: #4c4c4c,
  --color-text-1000: #373737,

  // Status
  --color-status-100: #f4f4f9,
  --color-status-200: #8998b529,
  --color-status-300: #e0e1ec,
  --color-status-400: #d3d5e5,
  --color-status-500: #a7b1bc,
  --color-status-600: #354261,
  --color-status-700: #334165,
  --color-status-800: #313e5e,
  --color-status-900: #2c3858,
  --color-status-1000: #26314d,
  --color-status-1050: #3e3962,
  --color-status-1100: #323640,
  --color-status-1200: #2c2e35,

  // System
  --color-system-100: #e1707021,
  --color-system-150: #e1707033,
  --color-system-200: #dc5a5a,
  --color-system-300: #993d48,
  --color-system-400: #45e0c026,
  --color-system-500: #339a88,
  --color-system-600: #357e63,
  --color-system-700: #fa9e2321,
  --color-system-800: #fa9e23,

  // Plan status
  --color-plan-status-100: #fae5df,
  --color-plan-status-200: #e1e9ff,
  --color-plan-status-300: #707cf2,
  --color-plan-status-400: #dffaef,
  --color-plan-status-500: #fcf5d0,
  --color-plan-status-600: #ac991b,
  --color-plan-status-700: #e6e9f0,
  --color-plan-status-800: #2d5592,

  --color-badge-100: #ffebe1,
  --color-badge-200: #f28270,
  --color-badge-300: #d8e8fb,
  --color-badge-400: #618ff9,
  --color-badge-500: #d8fbe9,
  --color-badge-600: #229889,
  --color-badge-700: #e5e1ff,
  --color-badge-800: #a768d6,

  // chart
  --color-chart-50: #26c4b0,
  --color-chart-100: #feb34e,
  --color-chart-150: #e05a69,
  --color-chart-200: #5551d5,
  --color-chart-250: #3a71f0,
  --color-chart-300: #3aa8f0,
  --color-chart-350: #4ab6c4,
  --color-chart-400: #76c690,
  --color-chart-450: #a5d75b,
  --color-chart-500: #c6e227,
  --color-chart-550: #d1ee12,
  --color-chart-600: #eedf12,
  --color-chart-650: #eed112,
  --color-chart-700: #aac7e8,
  --color-chart-800: #6daafa,
  --color-chart-900: #feb34e,
  --color-chart-1000: #dc5a5a,

  --color-icon-100: #cecfed,
  --color-icon-200: #b5c3f3,
  --color-icon-300: #8998b5,
  --color-icon-400: #9b9b9b,

  --color-scrollbar: #bbc6d9,

  // --color-border-800
  // TreeView
  --color-treeview-bg: #282828,
  --color-treeview-hover: #4b4b4b,
  --color-treeview-category-active-hover: #4a4a4a,
  --color-treeview-selected: #3b3b3b,
  --color-treeview-item-active: #424242,
  --color-treeview-category-active: #3b3b3b,
  --color-treeview-dot: #7e7e7e,
  --color-treeview-active-dot: #f3f3f3,

  --color-treeview-text: #bababa,
  --color-treeview-hover-text: #f3f3f3,

  // 차트 가이드라인
  --color-char-gridline: #bbc6d9,

  //
  // 아래 색상은 레거시 색상으로 점차 제거되어야 함.
  //
  --color-accent: var(--color-accent-400),
  // ↑ 메인 색상
  --color-hover: #4568e01a,
  // ↑ 호버 색상
  --color-selected: var(--color-accent-100),
  // ↑ 선택 색상
  --color-background: var(--color-bg-0),
  // ↑ 기본 배경 색상
  --color-background-reverse: #2a3346,
  // ↑ 기본 색상과 대비되는 강조용 배경 색상 (tooltip 등)
  --color-font-accent-background: #ffffff,
  // ↑ accent 색상이 배경으로 깔릴때 글자 색상
  --color-font-background: var(--color-text-700),
  // ↑ background 색상이 배경으로 깔릴때 글자 색상
  --color-drawer-child-background-opened: #2c3858,
  // ↑ LNB 열려있는 자식 메뉴 배경 색상
  --color-drawer-child-background-hover: #334165,
  // ↑ LNB 자식 메뉴 호버시 배경 색상
  --color-drawer-font-selected: #ebeef8,
  // ↑ LNB 강조 글자 색상
  --color-drawer-font-normal: #b6b7c1,
  // ↑ LNB 기본 글자 색상
  --color-drawer-dot-background-normal: #646c82,
  // ↑ LNB 자식 DOT 배경 색
  --color-controller-title-font-normal: var(--color-text-400),
  // ↑ Controller title 영역 기본 글자 색상
  --color-controller-background: transparent,
  // ↑ Controller 배경 색상
  --color-controller-button-spacer-background: #bac6d4,
  // ↑ Controller actions 버튼과 filter 버튼 사이 spacer 배경 색상
  --color-filter-border: #c1c1d8,
  // ↑ 검색 영역 외각선 색상
  --color-button-disabled-background: #e0e1ec,
  // ↑ 버튼 비활성화 시 배경 색상
  --color-button-icon-hover-background: rgba(137, 152, 181, 0.16),
  // ↑ Controller title 영역 버튼 호버시 배경 색상
  --color-font-button-disabled: #a7b1bc,
  // ↑ 버튼 비활성화 시 글자 색상
  --color-input-background: #fff,
  // ↑ input 배경 색상
  --color-input-border: #bac6d4,
  // ↑ input 외각선 색상
  --color-input-label-font: var(--color-text-400),
  // ↑ input label 글자 색상
  --color-input-font: var(--color-text-700),
  // ↑ input 글자 색상
  --color-input-icon: #8998b5,
  // ↑ input icon color
  --color-input-disabled-background: #f4f4f9,
  // ↑ input 비활성화시 배경색상
  --color-input-disabled-border: #b1bac4,
  // ↑ input 비활성화시 외각선 색상
  --color-input-disabled-font: #b1bac4,
  // ↑ input 비활성화시 글자 색상
  --color-input-invalid: #dc5a5a,
  // ↑ input invalid 발생시 에러 메세지, 보더에 사용되는 강조 색상
  --color-input-success: #357e63,
  // ↑ input 정상 동작했을 시 성공 메세지, 보더에 사용되는 강조 색상
  --color-input-dropdown-border: #c5cfdb,
  // ↑ input dropdown일때 보더 색상
  --color-input-dropdown-shadow: rgba(57, 55, 122, 0.1),
  // ↑ input dorpdown일때 그림자 색상
  --color-popup-header-font: var(--color-text-700),
  // ↑ 팝업 헤더 글자 색상
  --color-popup-dividor-line: #e1e3f0,
  // ↑ 팝업 바디 영역 구분선 색상
  --color-icon: #8998b5,
  // ↑ normal icon color
  --color-card-border: #bbc6d9,
  // --color-border-800
  // ↑ 카드 디자인 외각선 색상
  --color-card-title-font: var(--color-text-700),
  // ↑ 카드 타이틀 글자 색상
  --color-card-title-background: transparent,
  // ↑ 카드 타이틀 영역 배경 색상
  // --color-card-title-border: transparent,
  // // ↑ 카드 타이틀 외각선 색상
  --color-list-border: #bbc6d9,
  // --color-border-800
  // ↑ 리스트박스 외각선 색상
  --color-list-item-desc: var(--color-text-400),
  // ↑ 리스트박스 아이템 중 설명 부분 글자 색상
  --color-list-item-title: var(--color-text-700),
  // ↑ 리스트박스 아이템 중 제목 부분 글자 색상
  --color-context-font-color: var(--color-text-700),
  // // ↑ 230615 context menu font color
  --color-context-separator-color: #c5cfdb,
  // ↑ 230615 context menu separator color
  --context-disabled-font: var(--color-font-button-disabled),
  // ↑ context menu 비활성화 폰트 색상
  --color-dashboard-card-percent-font: var(--color-text-700),
  // 대시보드 퍼센트 값 글자 색상
  --color-dashboard-card-chart-legend-title: var(--color-text-700),
  // 대시보드 차트 범주 글자 색상
  --color-dashboard-card-chart-legend-detail-title: var(--color-text-400),
  // 대시보드 차트 범주(상세) 제목 글자 색상
  --color-dashboard-card-chart-legend-detail-value: var(--color-text-700),
  // 대시보드 차트 범주(상세) 값 글자 색상
  --color-dashboard-card-chart-legend-detail-sub-value: #96a5be,
  // 대시보드 차트 범주(상세) 실제 값 글자 색상
  --color-sys-oper-plan-description-font: var(--color-text-600),
  // 시스템 구동 환경설정 설명 글자 색상
  --color-top-app-bar-menu-item: var(--color-text-600),
  // 상단 내 메뉴 리스트의 아이템 글자 색상
  --color-dashboard-card-chart-gridline: #dddde2,
  --color-dashboard-card-chart-baseline: #b3b3c5,

  --color-config-title: var(--color-text-700),
  // 유저 설정 화면 제목 글자 색상
  --color-config-desc: #96a5be,
  // 유저 설정 화면 설명 글자 색상
  --color-font-title: var(--color-text-700),
  // 기본 제목 폰트 색상
  --color-font-desc: var(--color-text-400),
  // 기본 설명 폰트 색상
  --color-tab-dividor-line: #c1c1d8,
  // 탭 구분선
  --color-tab-default-font: var(--color-text-600),
  // 탭 기본 폰트 색상 (검은색)
  --color-progress-bar-background: #e9edf4,
  // 진행도 배경 색상
  --color-back: #ffffff,
  --color-backdark1: #f4f5f7,
  --color-backdark3: #e1e4ea,
  --color-border1: #eceef2,
  --color-border2: #e1e4ea,
  --color-border3: #c6ced8,
  --color-error: var(--color-system-200),
  --color-info: var(--color-accent-400),
  --color-success: var(--color-system-600),
  --color-warning: var(--color-system-800),
  --color-font1: #233253,
  --color-font-1-reverse: #dee4ef,
  --color-font2: #424c5f,
  --color-font3: #565f6e,
  --color-font4: #7c828e,
  --color-font5: #999faa,
  --color-font6: #b4b9c1,
  --color-font-white: #fff,
  --color-icon-text: var(--color-icon-300),
  --color-shadow: #00000030,
  --color-moz-scrollbar: #999999,
  --color-idle: #99999950,
  --color-background-setup: #f9e2e2,
  --color-background-pm: #e7eaf0,
  --color-background-idle: rgba(135, 144, 191, 0.45),
  --color-background-setup-secondary: #f4cbcb,
  --color-background-pm-secondary: #d4d9e4,
  --color-background-idle-secondary: rgba(135, 144, 191, 0.45),
  --color-border-setup: #dc5a5a,
  --color-border-pm: #646c82,
  --color-border-idle: rgba(135, 144, 191, 0.7),
  // region GRID COLORS
  --color-grid-border: var(--color-border-800),
  // ↑ 그리드 외각선 색상
  --color-grid-dividor-border: #6a7184,
  // ↑ 그리드 구분용 외각선 색상
  --color-grid-vertical-border: var(--color-border-800),
  // ↑ 그리드 셀 수직선 색상
  --color-grid-horizontal-border: var(--color-border-800),
  // ↑ 그리드 셀 수평선 색상
  --color-grid-header-background: var(--color-bg-525),
  // ↑ 그리드 헤더 배경 색상
  --color-gridheader: var(--color-bg-525),
  // ↑ 그리드 헤더 배경 색상 (별칭)
  --color-grid-header-selected: var(--color-bg-550),
  // ↑ 그리드 선택시 헤더 강조 색상
  --color-grid-header-border: var(--color-border-800),
  // ↑ 그리드 헤더에서 사용하는 border 색상
  --color-grid-header-font: var(--color-text-400),
  // ↑ 그리드 헤더 폰트 색상
  --color-grid-column-header-font: var(--color-text-600),
  // ↑ 그리드 헤더 폰트 색상 (고대비용)
  --color-grid-font: var(--color-text-700),
  // ↑ 검색 인풋, 그리드 기본 폰트 색상
  --color-grid-alt-background: var(--color-bg-100),
  // ↑ 그리드 alt row일 경우 배경 색상
  --color-grid-hover: #e2e7fa,
  // ↑ 그리드 row hover시 색상
  --color-grid-point: var(--color-bg-700),
  // ↑ 그리드 row 강조 색상
  // @TODO: 기존에 transparent여서 Row 추가 상태일 때, 컬럼 고정시 셀이 겹쳐보이는 이슈가 있었음. 그런데 왜 기존에 transparent로 지정되어 있었는지 이유를 알 수 없음.
  // --color-grid-added: transparent,
  --color-grid-added: var(--color-bg-0),
  // ↑ 그리드 추가된 셀
  --color-grid-updated: var(--color-system-400),
  // ↑ 그리드 수정된 셀
  --color-grid-readonly: var(--color-bg-100),
  // ↑ 그리드 읽기 전용 셀
  --color-grid-required: transparent,
  // ↑ 그리드 필수값 셀
   // endregion GRID COLORS
);
