@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
// @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
// @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
// @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// * {
//   font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Malgun Gothic', '맑은 고딕', helvetica,
//     'Apple SD Gothic Neo', 'NanumGothic', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
// }

:root {
  --font: 'Roboto', 'Noto Sans KR';
  /* --font-kr: "Nanum Gothic"; */
  /* --font-kr: "맑은 고딕"; */
  /* --font-kr: "Malgun Gothic"; */
  /* --font-kr: "NanumSquare"; */
  // --font-kr: 'NanumSquareNeoVariable';
  /* --font-kr: "NanumBarunGothic"; */
}

// * {
//   font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Malgun Gothic', '맑은 고딕', helvetica,
//     'Apple SD Gothic Neo', 'NanumGothic', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
// }

*:lang(ko) {
  // 한국어
  --font: 'Roboto', 'Noto Sans KR';
}

*:lang(en) {
  // 영어
  --font: 'Roboto', 'Noto Sans KR';
}

*:lang(zh-chs) {
  // 중국어 간체
  --font: 'Roboto', 'Noto Sans SC';
}

*:lang(zh-cht) {
  // 중국어 번체
  --font: 'Roboto', 'Noto Sans TC';
}

* {
  font-family:
    var(--font),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Malgun Gothic',
    '맑은 고딕',
    helvetica,
    'Apple SD Gothic Neo',
    'NanumGothic',
    sans-serif,
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

html,
body {
  min-width: 1110px;
  overflow: hidden;
}
