@font-face {
  font-family: 'mozart-icons';
  font-style: normal;
  font-weight: 400;
  src:
    url('./mozart-icons.eot?057b9b4fe8445edbc08d8c2c5a8b0d66?#iefix') format('embedded-opentype'),
    url('./mozart-icons.woff2?057b9b4fe8445edbc08d8c2c5a8b0d66') format('woff2'),
    url('./mozart-icons.woff?057b9b4fe8445edbc08d8c2c5a8b0d66') format('woff');
}

.mozart-icons,
.m-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.m-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.mozart-icons {
  font-family: 'mozart-icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.m-001_Dx-icon-cancle:before {
  content: '\e101';
}
.m-002_Dx-icon-column-chooser:before {
  content: '\e102';
}
.m-003_Dx-icon-filter:before {
  content: '\e103';
}
.m-004_Dx-icon-refresh:before {
  content: '\e104';
}
.m-005_Dx-icon-save:before {
  content: '\e105';
}
.m-006_Dx-icon-search:before {
  content: '\e106';
}
.m-007_icon-upload:before {
  content: '\e107';
}
.m-008_DxButton_language:before {
  content: '\e108';
}
.m-009_DxButton_theme-hover-tap:before {
  content: '\e109';
}
.m-010_icon_ascending:before {
  content: '\e10a';
}
.m-011_DxButton_theme:before {
  content: '\e10b';
}
.m-012_fill-filter:before {
  content: '\e10c';
}
.m-013_menu_arrow-down:before {
  content: '\e10d';
}
.m-014_menu-arrow-right:before {
  content: '\e10e';
}
.m-015_icon_descending:before {
  content: '\e10f';
}
.m-016_menu:before {
  content: '\e110';
}
.m-017_menuitem:before {
  content: '\e111';
}
.m-018_DxButton_add:before {
  content: '\e112';
}
.m-019_DxButton_close:before {
  content: '\e113';
}
.m-020_DxButton_expand:before {
  content: '\e114';
}
.m-021_DxButton_expand-tap:before {
  content: '\e115';
}
.m-022_DxButton_swap:before {
  content: '\e116';
}
.m-023_DxButton-delete:before {
  content: '\e117';
}
.m-024_DxButton-download:before {
  content: '\e118';
}
.m-025_DxButton-edit:before {
  content: '\e119';
}
.m-027_icon-play:before {
  content: '\e11a';
}
.m-028_icon-stop:before {
  content: '\e11b';
}
.m-029_calendar-icon:before {
  content: '\e11c';
}
.m-030_calendar-icon-hover:before {
  content: '\e11d';
}
.m-031_file-icon:before {
  content: '\e11e';
}
.m-032_file-icon-hover:before {
  content: '\e11f';
}
.m-033_image-icon:before {
  content: '\e120';
}
.m-034_image-icon-hover:before {
  content: '\e121';
}
.m-035_icon-bookmark-fill:before {
  content: '\e122';
}
.m-039_icon-history:before {
  content: '\e123';
}
.m-040_icon_up_arrow:before {
  content: '\e124';
}
.m-041_icon_down_arrow:before {
  content: '\e125';
}
.m-042_icon-bookmark:before {
  content: '\e126';
}
.m-043_icon-folder:before {
  content: '\e127';
}
.m-044_icon-exclude:before {
  content: '\e128';
}
.m-045_icon-check:before {
  content: '\e129';
}
.m-046_icon-add:before {
  content: '\e12a';
}
.m-047_icon-folder-open:before {
  content: '\e12b';
}
.m-048_icon_apply:before {
  content: '\e12c';
}
.m-049_link-icon:before {
  content: '\e12d';
}
.m-050_icon-play-empty:before {
  content: '\e12e';
}
.m-051_icon_newfolder:before {
  content: '\e12f';
}
.m-052_module-icon:before {
  content: '\e130';
}
.m-053_namespace-icon:before {
  content: '\e131';
}
.m-054_class-icon:before {
  content: '\e132';
}
.m-055_icon-calendar:before {
  content: '\e133';
}
.m-056_icon-Time:before {
  content: '\e134';
}
.m-057_icon-zip:before {
  content: '\e135';
}
.m-058_icon-monitor:before {
  content: '\e136';
}
.m-059_icon-primary-key:before {
  content: '\e137';
}
.m-060_icon-database:before {
  content: '\e138';
}
.m-061_icon-data-table:before {
  content: '\e139';
}
.m-062_menu-arrow-up:before {
  content: '\e13a';
}
.m-063_icon-expand:before {
  content: '\e13b';
}
.m-064_icon-compact:before {
  content: '\e13c';
}
.m-065_icon-import:before {
  content: '\e13d';
}
.m-066_icon-calendar:before {
  content: '\e13e';
}
.m-067_icon-Time:before {
  content: '\e13f';
}
.m-068_icon-module:before {
  content: '\e140';
}
.m-069_icon-class:before {
  content: '\e141';
}
.m-070_icon-play:before {
  content: '\e142';
}
.m-071_icon-edit:before {
  content: '\e143';
}
.m-072_icon-file:before {
  content: '\e144';
}
.m-073_icon-zip:before {
  content: '\e145';
}
.m-074_icon-delete:before {
  content: '\e146';
}
.m-075_icon-setting:before {
  content: '\e147';
}
.m-076_icon-monitor:before {
  content: '\e148';
}
.m-077_icon-column-chooser:before {
  content: '\e149';
}
.m-078_Icon-task:before {
  content: '\e14a';
}
.m-079_icon-folder-open:before {
  content: '\e14b';
}
.m-080_icon-newfolder:before {
  content: '\e14c';
}
.m-081_icon-folder:before {
  content: '\e14d';
}
.m-082_icon-task-close:before {
  content: '\e14e';
}
.m-083_icon-arrow-left:before {
  content: '\e14f';
}
.m-084_icon-menu-top:before {
  content: '\e150';
}
.m-085_icon-menu-left:before {
  content: '\e151';
}
.m-086_icon-menu-topandleft:before {
  content: '\e152';
}
.m-087_icon-check:before {
  content: '\e153';
}
.m-088_double-arrow-left:before {
  content: '\e154';
}
.m-089_icon-small-cancel:before {
  content: '\e155';
}
.m-090_icon-file-pdf:before {
  content: '\e156';
}
.m-091_icon-new-tab:before {
  content: '\e157';
}
.m-092_icon-server:before {
  content: '\e158';
}
.m-093_icon-project:before {
  content: '\e159';
}
.m-094_icon-home:before {
  content: '\e15a';
}
.m-095_icon-auth:before {
  content: '\e15b';
}
.m-096_icon-xlsx:before {
  content: '\e15c';
}
.m-097_icon-chart:before {
  content: '\e15d';
}
.m-098_icon-fill-server:before {
  content: '\e15e';
}
.m-099_icon-fill-project:before {
  content: '\e15f';
}
.m-100_icon-fill-home:before {
  content: '\e160';
}
.m-101_icon_copy:before {
  content: '\e161';
}
.m-102_icon-fill-copy:before {
  content: '\e162';
}
.m-103_icon-pencil:before {
  content: '\e163';
}
.m-104_icon-fill-pencil:before {
  content: '\e164';
}
.m-105_icon-fill-delete:before {
  content: '\e165';
}
.m-106_icon-stop2:before {
  content: '\e166';
}
.m-107_icon-pause:before {
  content: '\e167';
}
.m-108_icon-startall:before {
  content: '\e168';
}
.m-109_icon-fill-startall:before {
  content: '\e169';
}
.m-110_icon-fill-pause:before {
  content: '\e16a';
}
.m-111_icon-fill-stop2:before {
  content: '\e16b';
}
.m-112_icon-fill-success:before {
  content: '\e16c';
}
.m-113_icon-fill-info:before {
  content: '\e16d';
}
.m-114_icon-fill-error:before {
  content: '\e16e';
}
.m-115_icon-fill-warning:before {
  content: '\e16f';
}
.m-116_icon-lasso:before {
  content: '\e170';
}
.m-117_icon-highlight:before {
  content: '\e171';
}
.m-118_icon-fill-highlight:before {
  content: '\e172';
}
.m-119_icon-fill-undo:before {
  content: '\e173';
}
.m-120_icon-undo:before {
  content: '\e174';
}
.m-121_icon-fill-redo:before {
  content: '\e175';
}
.m-122_icon-redo:before {
  content: '\e176';
}
.m-123_icon-empty-file:before {
  content: '\e177';
}
.m-124_icon-pass-reset:before {
  content: '\e178';
}
.m-125_icon-fill-newfolder:before {
  content: '\e179';
}
.m-126_icon-drag:before {
  content: '\e17a';
}
.m-127_icon-grid:before {
  content: '\e17b';
}
.m-128_icon-eraser:before {
  content: '\e17c';
}
.m-129_icon-arrow-left:before {
  content: '\e17d';
}
.m-130_icon-arrow-down:before {
  content: '\e17e';
}
.m-131_icon-arrow-right:before {
  content: '\e17f';
}
.m-132_icon-arrow-up:before {
  content: '\e180';
}
.m-133_icon-fill-pass-reset:before {
  content: '\e181';
}
.m-134_icon-setting:before {
  content: '\e182';
}
.m-135_icon-map:before {
  content: '\e183';
}
.m-136_icon-fill-map:before {
  content: '\e184';
}
.m-137_icon-sort-lr:before {
  content: '\e185';
}
.m-138_icon-sort-bt:before {
  content: '\e186';
}
.m-139_icon-sort-ur:before {
  content: '\e187';
}
.m-140_icon-sort-dr:before {
  content: '\e188';
}
.m-141_icon-sort-dl:before {
  content: '\e189';
}
.m-142_icon-sort-ul:before {
  content: '\e18a';
}
.m-143_icon-map-plat:before {
  content: '\e18b';
}
.m-144_icon-contents-check:before {
  content: '\e18c';
}
.m-145_icon-tail-arrow-right:before {
  content: '\e18d';
}
.m-146_icon-circle-empty:before {
  content: '\e18e';
}
.m-147_icon-circle-half:before {
  content: '\e18f';
}
.m-148_icon-circle-fill:before {
  content: '\e190';
}
.m-149_icon-info:before {
  content: '\e191';
}
.m-150_icon-arrow-tail-line-up:before {
  content: '\e192';
}
.m-151_icon-arrow-tail-line-right:before {
  content: '\e193';
}
.m-152_icon-arrow-tail-line-down:before {
  content: '\e194';
}
.m-153_icon-arrow-tail-line-left:before {
  content: '\e195';
}
.m-154_icon-arrow-tail-fill-up:before {
  content: '\e196';
}
.m-155_icon-arrow-tail-fill-right:before {
  content: '\e197';
}
.m-156_icon-arrow-tail-fill-down:before {
  content: '\e198';
}
.m-157_icon-arrow-tail-fill-left:before {
  content: '\e199';
}
.m-158_icon-arrow-head-fill-down:before {
  content: '\e19a';
}
.m-159_icon-arrow-head-fill-right:before {
  content: '\e19b';
}
.m-159_icon-arrow-head-fill-up:before {
  content: '\e19c';
}
.m-160_icon-arrow-head-fill-left:before {
  content: '\e19d';
}
.m-161_icon-pin:before {
  content: '\e19e';
}
.m-162_icon-pin-fill:before {
  content: '\e19f';
}
.m-163_icon-empty:before {
  content: '\e1a0';
}
.m-164_icon-drag:before {
  content: '\e1a1';
}
.m-165_icon-equals:before {
  content: '\e1a2';
}
.m-166_icon-not-equal:before {
  content: '\e1a3';
}
.m-167_icon-less-than:before {
  content: '\e1a4';
}
.m-168_icon-greater-than:before {
  content: '\e1a5';
}
.m-169_icon-less-than-or-equal:before {
  content: '\e1a6';
}
.m-170_icon-greater-than-or-equal:before {
  content: '\e1a7';
}
.m-171_icon-between:before {
  content: '\e1a8';
}
.m-172_icon-contains:before {
  content: '\e1a9';
}
.m-173_icon-not-contains:before {
  content: '\e1aa';
}
.m-174_icon-starts-with:before {
  content: '\e1ab';
}
.m-175_icon-ends-with:before {
  content: '\e1ac';
}
.m-176_icon-circle-circle:before {
  content: '\e1ad';
}
.m-177_icon-sqlite:before {
  content: '\e1ae';
}
.m-178_icon-postgresql:before {
  content: '\e1af';
}
.m-179_icon-mariadb:before {
  content: '\e1b0';
}
.m-180_icon-sqlserver:before {
  content: '\e1b1';
}
.m-181_icon-oracle:before {
  content: '\e1b2';
}
.m-182_icon-module:before {
  content: '\e1b3';
}
.m-183_icon-service:before {
  content: '\e1b4';
}
.m-184_icon-sql:before {
  content: '\e1b5';
}
.m-185_icon-view:before {
  content: '\e1b6';
}
.m-186_icon-connection-folder:before {
  content: '\e1b7';
}
.m-187_icon-connection-folder-open:before {
  content: '\e1b8';
}
.m-188_icon-dir-up:before {
  content: '\e1b9';
}
.m-189_icon-dir-move:before {
  content: '\e1ba';
}
.m-190_icon-sync:before {
  content: '\e1bb';
}
.m-191_icon-rename:before {
  content: '\e1bc';
}
.m-192_icon-menu-topandtree:before {
  content: '\e1bd';
}
.m-193_icon-txt:before {
  content: '\e1be';
}
.m-194_icon_cloud_performance-report:before {
  content: '\e1bf';
}
.m-195_icon_cloud_cancel:before {
  content: '\e1c0';
}
.m-196_icon_cloud_save:before {
  content: '\e1c1';
}
.m-197_icon_cloud_copy:before {
  content: '\e1c2';
}
.m-198_icon_cloud_up:before {
  content: '\e1c3';
}
.m-199_icon_cloud_down:before {
  content: '\e1c4';
}
.m-200_icon_cloud_calendar:before {
  content: '\e1c5';
}
.m-201_icon_cloud_open:before {
  content: '\e1c6';
}
.m-202_icon_cloud_delete:before {
  content: '\e1c7';
}
.m-203_icon_cloud_search:before {
  content: '\e1c8';
}
.m-204_icon_cloud_minus:before {
  content: '\e1c9';
}
.m-205_icon_cloud_add:before {
  content: '\e1ca';
}
.m-206_icon_cloud_fold:before {
  content: '\e1cb';
}
.m-207_icon_cloud_breadcrumbs:before {
  content: '\e1cc';
}
.m-208_icon_cloud_indeterminate-checkbox:before {
  content: '\e1cd';
}
.m-209_icon_cloud_checkbox:before {
  content: '\e1ce';
}
.m-210_icon_cloud_checkbox-outline:before {
  content: '\e1cf';
}
.m-211_icon_cloud_table-calendar:before {
  content: '\e1d0';
}
.m-212_icon_cloud_setting:before {
  content: '\e1d1';
}
.m-213_icon_cloud_password:before {
  content: '\e1d2';
}
.m-214_icon_cloud_favorites:before {
  content: '\e1d3';
}
.m-215_icon_cloud_filter:before {
  content: '\e1d4';
}
.m-216_icon_cloud_user:before {
  content: '\e1d5';
}
.m-217_icon_cloud_filter_on:before {
  content: '\e1d6';
}
.m-218_icon_cloud_table_filter:before {
  content: '\e1d7';
}
.m-219_icon_cloud_table_filter_on:before {
  content: '\e1d8';
}
.m-220_icon_cloud_favorites_on:before {
  content: '\e1d9';
}
.m-221_icon-double-arrow-left:before {
  content: '\e1da';
}
.m-222_icon-mmc-logo:before {
  content: '\e1db';
}
.m-223_icon-file-upload:before {
  content: '\e1dc';
}
.m-224_icon-empty-plus:before {
  content: '\e1dd';
}
.m-225_icon_cloud_user-info:before {
  content: '\e1de';
}
.m-226_icon_cloud_logout:before {
  content: '\e1df';
}
.m-227_icon-menu-drag:before {
  content: '\e1e0';
}
.m-228_icon-menu-show:before {
  content: '\e1e1';
}
.m-229_icon-menu-hide:before {
  content: '\e1e2';
}
.m-230_icon-menu-column:before {
  content: '\e1e3';
}
.m-231_icon-menu-column-empty:before {
  content: '\e1e4';
}
.m-232_icon-column-setting:before {
  content: '\e1e5';
}
