@use '../../styles/abstracts/mixin';

.spacer {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-center-horizontal {
  @include mixin.flex-center-horizontal;
}

.flex-center-horizontal-start {
  @include mixin.flex-center-horizontal-start;
}

.flex-center-horizontal-end {
  @include mixin.flex-center-horizontal-end;
}

.flex-start-horizontal-start {
  @include mixin.flex-start-horizontal-start;
}

.flex-start-horizontal-end {
  @include mixin.flex-start-horizontal-end;
}

.flex-center-vertical {
  @include mixin.flex-center-vertical;
}

.flex-center {
  @include mixin.flex-center;
}

.nowrap-text {
  @include mixin.nowrap-text;
}

#app {
  min-width: 1280px;
  min-height: 720px;
  overflow: auto;
}
