@use '../../styles/abstracts/mixin';
@use '../../styles/abstracts/function';

@mixin moz-button {
  text-align: center;
  height: var(--size-button-height);
  min-width: var(--size-button-width);
}
.moz-button {
  @include moz-button;
  border: 1px solid var(--color-accent);
  background-color: var(--color-back);
  font-size: 14px;
}

.moz-default-button {
  @include moz-button;
}

.moz-button {
  @include mixin.flex-center;
  text-align: center;
  height: var(--size-button-height);
  min-width: var(--size-button-width);
  gap: var(--size-button-gap);
  padding: var(--size-button-padding);
  border-radius: var(--border-radius);
  cursor: pointer;
  line-height: var(--size-button-height);
  font-weight: var(--font-ultra-light);
  border: 1px solid;
  position: relative;

  &.isLoading {
    span.text {
      opacity: 0;
    }

    .spinner {
      position: absolute;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.moz-default-button {
    background-color: var(--color-accent);
    color: var(--color-font-accent-background);
    border-color: var(--color-accent);

    &:hover {
      background: mixb(var(--color-accent), 0.1);
      // border-color: darken(var(--color-accent), 10%);
    }

    &:disabled {
      background-color: var(--color-button-disabled-background);
      color: var(--color-font-button-disabled);
      border-color: var(--color-button-disabled-background);

      .mozart-icons::before {
        color: var(--color-font-button-disabled);
      }
    }
  }

  &.moz-text-button {
    background-color: transparent;
    color: var(--color-font-background);
    border-color: transparent;

    &:disabled {
      // TODO: link button disabled design
    }
  }

  &.moz-icon-button {
    padding: 0px;
    background-color: transparent;
    color: var(--color-font-background);
    min-width: var(--size-icon-button);
    min-height: var(--size-icon-button);
    width: var(--size-icon-button);
    height: var(--size-icon-button);
    border-color: transparent;

    &.small {
      min-width: var(--size-icon-button-small);
      min-height: var(--size-icon-button-small);
      width: var(--size-icon-button-small);
      height: var(--size-icon-button-small);
    }

    &:hover {
      background: var(--color-button-icon-hover-background);
      border-color: transparent;
    }

    &:disabled {
      // TODO: icon button disabled design
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.moz-icon-accent-button {
      background-color: var(--color-accent);

      &:hover {
        background: mixb(var(--color-accent), 0.1);
        // border-color: darken(var(--color-accent), 10%);
      }
    }
  }

  &.moz-outline-button {
    background-color: transparent;
    border-color: var(--color-accent);
    color: var(--color-accent);
    font-weight: var(--font-light);
  }

  .mozart-icons::before {
    font-size: 14px;
    color: var(--color-font-accent-background);
  }
}

// 팝업 내부 버튼
.moz-dialog {
  .moz-button {
    width: var(--size-button-in-popup-width);
    height: var(--size-button-in-popup-height);
  }
}

// 필터 영역 내부 버튼
.moz-controller-root {
  .moz-controller-filter {
    .moz-button {
      //height: calc(var(--size-input-height) - 1px);
      //min-height: calc(var(--size-input-height) - 1px);

      &.moz-icon-button {
        //width: calc(var(--size-input-height) - 1px);
        //min-width: calc(var(--size-input-height) - 1px);

        .mozart-icons::before {
          color: var(--color-font-accent-background);
        }
      }
    }
  }
}
