// 작업
@use '../../styles/abstracts/mixin';
@use '../../styles/abstracts/function';

.ctx-menu {
  &.wj-control.wj-dropdown-panel {
    padding: var(--context-menu-container-vertical-padding) var(--size-menu-container-horizontal-padding); // 230620 0px로 변경
    box-shadow: var(--selection-menu-dropdown-shadow);
    border: solid 1px var(--color-input-dropdown-border);

    &:not(#_dropdown) {
      margin-top: -5px;
    }

    box-sizing: border-box;

    .wj-listbox-item {
      font-size: var(--context-menu-size-input-font); //230620 context menu font size 변경
      height: var(--context-menu-size-separator); // 230613 separator 두께 1PX로 변경
      line-height: var(--size-input-dropdown-item-height);

      padding-left: var(--context-menu-size-horizontal);
      padding-right: var(--context-menu-size-horizontal);

      &:not(.wj-separator) {
        height: var(--context-menu-size-listbox-height);
        color: var(--color-context-font-color);
      }

      &.wj-separator {
        padding: 0;
        background-color: var(--color-context-separator-color);
        margin-top: var(--size-menu-gap-from-parants);
        margin-bottom: var(--size-menu-gap-from-parants);
        min-height: var(--context-menu-size-separator);
        &::after {
          display: none;
        }
      }

      &.wj-subitems {
        &:after {
          // 230620 text를 image로 변경
          background-image: url('@moz/icons/svg/icon_right.png');

          margin-left: var(--context-menu-size-right-angle-bracket);
          position: static;

          content: '';
          width: 5px;
          height: 8px;
          right: 0px;
        }
      }

      &.wj-state-selected:not(.wj-subitems) {
        &::after {
          display: none;
        }
      }

      &.wj-state-disabled {
        cursor: not-allowed;
        pointer-events: inherit;
      }
    }
  }
}
