.wj-popup:has(> .moz-dialog) {
  border: none;
}

.moz-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.dialog {
    height: fit-content;
    min-width: 360px;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid var(--color-popup-dividor-line);
  }

  .moz-dialog-header {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    padding: 0px var(--font-size-popup-header);
    height: var(--size-popup-title-height);
    min-height: var(--size-popup-title-height);
    font-size: var(--font-size-popup-header);
    color: var(--color-popup-header-font);
    font-weight: var(--font-medium);

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.close {
        cursor: pointer;
        background: none;
        border: none;
        padding: var(--size-icon-button-padding);
        border-radius: var(--border-radius);
        position: relative;
        right: calc(var(--size-icon-button-padding) * -1);

        i::before {
          font-size: var(--size-small-icon-font-size);
        }

        &:hover {
          background-color: var(--color-button-icon-hover-background);
        }
      }
    }
  }

  .moz-dialog-body {
    padding: var(--size-popup-vertical-padding) var(--size-popup-horizontal-padding);

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: var(--color-font-background);
    font-size: var(--font-size-popup-body);

    overflow: auto;
    height: 100%;

    &:has(.moz-message-body) {
      flex-direction: row;
      gap: 16px;
    }

    .moz-message-body {
      display: flex;
      align-items: center;
    }
  }

  .moz-dialog-icon {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;

    &.icon-info {
      background-image: url('./dialog/icon_popup_info.svg');
    }
    &.icon-warning {
      background-image: url('./dialog/icon_popup_warning.svg');
    }
    &.icon-success {
      background-image: url('./dialog/icon_popup_success.svg');
    }
  }

  .moz-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    margin-top: 0;

    padding-left: var(--size-popup-horizontal-padding);
    padding-right: var(--size-popup-horizontal-padding);
  }
}
