@use '../../styles/abstracts/mixin';

.moz-root {
  width: var(--size-width);
  height: var(--size-height);
}

.moz-contents {
  line-height: initial;
  background-color: var(--color-bg-0);
}

@mixin frame {
  overflow: auto;
  display: block;
}

.moz-frame-for-outer-control {
  height: 100%;
  padding: var(--size-content-padding);
  padding-top: 0px;
  position: relative;
  overflow-x: hidden;
  @include frame;
}

@mixin frame-popup {
  width: var(--size-width);
  overflow: auto;
  display: block;
}

.moz-simple-padding {
  padding: var(--size-card-rbl-padding);
}
