@use '../../styles/abstracts/mixin';

@mixin moz-menu-highlight($highlight-color, $underbar: false) {
  background-color: transparent;
  div {
    color: $highlight-color;
  }
  .mozart-icons::before {
    color: $highlight-color;
  }
  @if $underbar {
    $bottom-border: 0px -5px 0px $highlight-color inset;
    -webkit-box-shadow: $bottom-border;
    -moz-box-shadow: $bottom-border;
    box-shadow: $bottom-border;
  } @else {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.moz-top-menu {
  z-index: 1;
  height: var(--size-top-height);
  background-color: transparent;
  margin-left: var(--size-content-padding);
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutFromNone {
  0% {
    display: flex;
    opacity: 1;
  }

  1% {
    display: none;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@-moz-keyframes fadeOutFromNone {
  0% {
    display: flex;
    opacity: 1;
  }

  1% {
    display: none;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutFromNone {
  0% {
    display: flex;
    opacity: 1;
  }

  1% {
    display: none;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
