@use '../../styles/abstracts/mixin';

.wj-dropdown-panel:has(> .wj-multiselectlistbox) {
  box-shadow: var(--selection-menu-dropdown-shadow);
  border: solid 1px var(--color-input-dropdown-border);
  margin-top: var(--size-menu-gap-from-parants);
  box-sizing: border-box;

  .wj-multiselectlistbox {
    & > .wj-listbox {
      overflow: hidden;
    }

    .wj-listbox {
      input.wj-form-control {
        // 검색 필터 인풋
        height: var(--size-input-height);
        font-size: var(--size-input-font);
        border-bottom: 1px solid var(--color-input-dropdown-border);

        position: relative;
      }

      &:has(input.wj-form-control:not([style='display: none;']))::after {
        @include mixin.moz-icon;
        content: function.unicode('e1c8');
        position: absolute;
        right: 10px;
        top: 0px;
        color: var(--color-icon);
        height: var(--size-input-height);
        width: 12px;
        font-size: 12px;
        line-height: var(--size-input-height);
      }

      .wj-listbox-item {
        // 전체선택 + 데이터리스트 전역 선언
        height: var(--selection-menu-item-height);
        border: none;
        color: inherit;

        label {
          color: inherit;
          font-size: var(--size-input-font);
        }

        input[type='checkbox'] + span::before {
          left: -1px;
        }
      }

      .wj-select-all {
        // 전체 선택
        padding: var(--size-listbox-item-padding);
        display: flex;
        align-items: center;
        margin-top: var(--size-menu-container-vertical-padding);

        width: 100%;

        input[type='checkbox'] + span {
          // checkbox 용
          width: fit-content;
          text-indent: calc(var(--size-checkbox) + 3px); // gap 3px
        }
      }

      .wj-content {
        // 데이터 리스트 아이템 컨테이너
        padding: var(--size-menu-container-vertical-padding) var(--size-menu-container-horizontal-padding);
      }

      .wj-select-all:not([style^='display: none']) + .wj-content {
        // DOM에는 display: none으로 남아 있음
        // 인풋이 있을때 데이터 리스트
        padding-top: 0px;
      }
    }
  }
}

// ColumnPicker 에 사이드 이펙트를 발생시킴
.wj-listbox {
  .wj-listbox-item {
    label:has(> input, > span) {
      position: relative;
    }
  }
}
